body{
    height: 100%;
    width: 100%;
    background-color: black;
    COLOR: white;
}

.column{
    float: left;
    width: 25%;
    padding: 0px;
}

.row{
    width: 100%;
    display: table;
    clear: both;
}

.save{
    margin-top: 20px;
    float: left;
}